-- Migration pour mettre à jour le solde de tokens des utilisateurs existants
-- De 2000 à 1000000 tokens
UPDATE users SET tokens_balance = 1000000 WHERE tokens_balance = 2000;
ALTER TABLE users ALTER COLUMN tokens_balance SET DEFAULT 1000000;
