ALTER TABLE users ADD COLUMN IF NOT EXISTS nom VARCHAR(255);
ALTER TABLE users ADD COLUMN IF NOT EXISTS prenom VARCHAR(255);
ALTER TABLE users ADD COLUMN IF NOT EXISTS nom_complet VARCHAR(255);
ALTER TABLE users ADD COLUMN IF NOT EXISTS photo_profil TEXT;
ALTER TABLE users ADD COLUMN IF NOT EXISTS avatar_url TEXT;
